.content{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.content_resultados{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 24px;
}

.content_p{
    padding: 100px;
}