.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 60px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    font-family: sans-serif;
}

.left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.search_input{
  width: 100%;
  max-width: 300px;
  padding: 10px 16px;
  border-radius: 24px;
  background-color: #2C2C2C;
  color: #FFFFFF;
  font-size: 14px;
  outline: none;
  border: none;
}

.search_input::placeholder{
  color: #AAA;
}

.search_input:focus{
  background-color: #333;
  box-shadow: 0 0 0 2px #1DB954;
}

.logo {
  height: 32px;
}

.navList {
  display: flex;
  list-style: none;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.link {
  color: #ccc;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
}

.link:hover {
  color: white;
}

.right {
  display: flex;
  align-items: center;
}

.loginButton {
  background-color: white;
  color: black;
  border: none;
  padding: 6px 16px;
  border-radius: 999px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.loginButton:hover {
  transform: scale(1.05);
}
