#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #121212;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: white;
}
main{
  display: flex;
  min-height: calc(100vh -160px);
  flex-direction: column;
}
